Hola #{@user.name},
%br
#{@creador.name} te ha creado una cuenta para que colabores en el grupo #{@creador.group.name}.
%br
Dependiendo te tu rol, podrás:
%ul
  %li Votar por una canción para el domingo
  %li Seleccionar las canciones para el domingo
  %li Agregar nuevas canciones o modificarlas
  %li .. y alguna otra ocurrencia que se me ocurra después

%br
Para ingresar a ella, solo tienes que ingresar al siguiente link y seleccionar tu contraseña.

http://corobook.com/users/password/edit?initial=true&reset_password_token=#{@user.reset_password_token}
