Hola,

Estos son los coros para el #{@songbook.fecha.strftime('%e/%m/%Y')}

%ul
  -@songbook.songs.each do |song|
    %li=link_to(song.title, song)

-if !@user.reset_password_token.blank?
  PD: Te cree una cuenta en Corobook, solo tienes que cambiar la contraseña en el siguiente link:
  %a{:src => "http://corobook.com/users/password/edit?initial=true&reset_password_token=" + @user.reset_password_token} http://corobook.com/users/password/edit?initial=true&reset_password_token=#{@user.reset_password_token} 
