%h1 Presentaciones
=link_to('Nueva Presentación', new_presentation_url, :class => 'btn btn-default')
%br
%br
%br

%table.table.table-bordered.table-hover.table-striped
  -@presentations.each do |pres|
    %tr
      %td=link_to(pres.fecha.strftime('%d/%m/%Y'), pres)
      %td=link_to 'Eliminar', pres, method: :delete, data: { confirm: 'Are you sure?' }    
