%h1 Songbooks

%table.table.table-bordered.table-hover.table-striped
  %tr
    %th Nombre
    %th
    %th

  - @songbooks.each do |songbook|
    %tr
      %td=link_to(songbook.title, songbook)
      %td
        -if current_user.role >= 5
          =link_to 'Send', send_email_songbook_path(songbook), :remote => true
          =link_to 'Edit', edit_songbook_path(songbook)
          =link_to 'Destroy', songbook, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Songbook', new_songbook_path
