%table.table.table-bordered.table-hover.table-striped
  %tr
    %th Titulo
    %th Autor
    %th Referencia
    %th Intensidad



    %th


  - @songs.each do |song|
    %tr{:id => "song"+song.id.to_s}
      %td=link_to song.title, song
      %td=song.author
      %td=song.reference
      %td=song.mood

      

      %td
        -if song.valid?
          =link_to(raw('<span class="glyphicon glyphicon-fullscreen"></span>'), live_song_url(song), :class => 'btn btn-default ')
    
        -if current_user and current_user.role >= 3
          =link_to(raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_song_url(song), :class => 'btn btn-default ')
        -if current_user 
          =link_to(raw('<span class="glyphicon glyphicon-trash"></span>'), song, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default ')


%br

= link_to 'Nueva Canción', new_song_path
