%p#notice= notice

.row
  .col-sm-11
    %h1
      =@song.title
      .small=@song.reference
  .col-sm-1.text-right
    =link_to(raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_song_url(@song), :class => 'btn btn-default ')

-if !@song.author.blank?
  %p
    %b By:
    =@song.author

%p
  %b Order:
  = @song.order

.well
  -diapo = @song.sorted_array_lyric(true)
  -if !@song.order.blank?
    -diapo.each do |verse|
      %h5=verse[:label]
      %pre=chordify2(verse[:text]) 

-unless @song.link.blank?
  %p
    %b Video:
    %br

  %iframe{:width => "560", :height => "315", :src => "//www.youtube.com/embed/" + @song.link.scan(/=(.*)$/)[0][0], :frameborder => "0", :allowfullscreen => true}

