.row
  .col-sm-8
    %h1 Aniversarios
  .col-sm-4.text-right
    =link_to('Nuevo Aniversario', new_anniversary_path, :class => 'btn btn-primary btn-lg')

%hr


%table.table.table-bordered.table-hover.table-striped
  %tr
    %th Día
    %th Nombre
    %th Categoría
    %th

  - @anniversaries.each do |anniversary|
    %tr
      %td= anniversary.date.strftime('%d/%m')
      %td= anniversary.name
      %td= anniversary.category
      %td.text-right
        =link_to(raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_anniversary_path(anniversary), :class => 'btn btn-default ')          
        =link_to(raw('<span class="glyphicon glyphicon-trash"></span>'), anniversary, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default ')



