%h1 Diapositivas
=link_to('Nueva Diapositiva', new_diapo_url, :class => 'btn btn-default')
%br
%br
%br
%table.table.table-bordered.table-hover.table-striped
  -@diapos.each do |pres|
    %tr
      %td=link_to(pres.title, edit_diapo_url(pres))
      %td=link_to 'Eliminar', pres, method: :delete, data: { confirm: 'Are you sure?' }    
